RESEND_API_KEY="your_resend_api_key"
EMAIL_FROM="VaultCore <onboarding@resend.dev>"

POLAR_ACCESS_TOKEN="your_polar_access_token"
POLAR_WEBHOOK_SECRET="your_polar_webhook_secret"
POLAR_FREE_PRODUCT_ID="polar_free_product_id",
POLAR_PREMIUM_PRODUCT_ID="polar_premium_product_id",
POLAR_FAMILY_PRODUCT_ID="polar_family_product_id",

JWT_SECRET="your_jwt_secret"
DATABASE_URL="postgres://localhost:5432/postgres?sslmode=verify-full"
BETTER_AUTH_SECRET="your_better_auth_secret"
WEB_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_APP_URL="http://localhost:3000"

REDIS_URL="redis://localhost:6379"
REDISHOST="redis_host"
REDISPASSWORD="redis_password"
REDISUSER="default"
REDIS_PASSWORD="redis_password"
REDISPORT="6379"
REDIS_PUBLIC_URL="redis://localhost:6379"